.App {
  text-align: center;
}
.center {
  line-height: 100%;
  height: 100%;
  text-align: center;
}

.App-container {
  display: grid;
  min-height: 100vh;
  width: 100vw;
  grid-template: 15em auto 5em/ 10em auto 10em;
  grid-template-areas:
  "left-area header-area right-area"
  "left-area main-area right-area"
  "left-area footer-area right-area"
}

.App-header-area {
  grid-area: header-area;
  background-color: white;
  background-image: url(http://textures101.com/textures/Nature/Sky/2011/7/4/tn1_4719142500d34d466031oseamless_rojgs.jpg);
  background-repeat: repeat;
  padding: 0;
  margin: 0;
  color: aliceblue;
  display: flex;
}
.header-text {
  display: inline-block;
  align-self: flex-end;
  padding: 0;
  margin: 0.5em;
}

.App-footer-area {
  grid-area: footer-area;
  background-color: white;
  padding: 0;
  margin: 0;
  display: flex;

  justify-content: space-between;
}
.footer-img {
  margin: 0.5em 0.5em 0 0.5em;
  height: 4em;
  width: auto;
  padding: 0;
}

.App-left-area {
  grid-area: left-area;
}

.App-right-area {
  grid-area: right-area;
}
.App-main-area {
  grid-area: main-area;
  background-color: yellow;
  padding: 1em;
}
