.App {
  text-align: center;
}
.center {
  line-height: 100%;
  height: 100%;
  text-align: center;
}

.App-container {
  display: grid;
  min-height: 100vh;
  width: 100vw;
  grid-template: 10em auto 3em/ 10em auto 10em;
  grid-template-areas:
  "left-area header-area right-area"
  "left-area main-area right-area"
  "left-area footer-area right-area"
}

.App-header-area {
  grid-area: header-area;
  padding: 0;
  margin: 0;
  color: aliceblue;
  display: flex;
}
.header-text {
  display: inline-block;
  align-self: flex-end;
  padding: 0;
  margin: 0.5em;
}

.App-footer-area {
  grid-area: footer-area;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  justify-content: space-between;
}
.footer-img {
  margin: 0.5em 1em 0 1em;
  height: 2em;
  width: auto;
  padding: 0;
}
.code-and-stuff-img {
  border: 2px solid black;
  border-radius: 0.5em;
}

.App-left-area {
  grid-area: left-area;
}

.App-right-area {
  grid-area: right-area;
}

.App-main-area {
  grid-area: main-area;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1em;
}
.icon-backdrop {
  background-color: rgba(135, 207, 235, 0.5);
}
